<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ruta Innovación Emprendimiento</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/public/css/index.css">
</head>
<body class="pt-16">
  <header class="bg-white fixed top-0 w-full z-10">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-c">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" href="https://rutaie.utalca.cl/"
        target="_blank">
        <img src="/public/img/logo-rutaie.png" alt="logo-rutaie" style="width: 200px; height: auto;">
      </a>
      <nav class="md:ml-auto md:mr-auto flex justify-center">
        <div class="flex items-center bg-white rounded-lg ring-1 ring-slate-900/5 shadow-lg">
          <a
            class="text-sm font-bold text-white-500 p-6 hover:bg-sky-300 hover:ring-sky-300 cursor-pointer">OBJETIVO</a>
          <a
            class="text-sm font-bold text-white-500 p-6 hover:bg-sky-300 hover:ring-sky-300 cursor-pointer">PROPÓSITO</a>
          <a
            class="text-sm font-bold text-white-500 p-6 hover:bg-sky-300 hover:ring-sky-300 cursor-pointer">NOSOTROS</a>
          <a
            class="text-sm font-bold text-white-500 p-6 hover:bg-sky-300 hover:ring-sky-300 cursor-pointer">CONTACTO</a>
        </div>
      </nav>
        <div class="relative inline-flex  group">
            <div
                class="absolute transitiona-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt">
            </div>
            <a href="#" title="login"
                class="relative inline-flex items-center justify-center px-8 py-4 text-lg font-bold text-white transition-all duration-200 bg-gray-900 font-pj rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
                role="button">LOGIN
            </a>
        </div>
    </div>
  </header>
  <main class="pt-16">
    <img src="/public/img/tira-colores.png" alt="tira-colores" style="width: 100%; height: auto;">    
    <section class="bg-gray-800 body-font" id="section-1">
      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col items-center text-center mb-16 md:mb-0">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">¿Tienes alguna idea innovadora que
            quieras compartir?</h1>
          <p class="mb-8 leading-relaxed text-white">Ingresa a nuestros sitios web de apoyo estudiantil y descubre el
            camino para hacerla realidad.</p>
          <a href="#unidades-utalca">
            <div class="flex justify-center items-center">
              <svg class="h-20 w-20 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10"></circle>
                <polyline points="8 12 12 16 16 12"></polyline>
                <line x1="12" y1="8" x2="12" y2="16"></line>
              </svg>
            </div>
          </a>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <img class="object-cover object-center rounded" alt="hero" src="/public/img/personas-ideas.png">
        </div>
      </div>
      <div class="w-full h-8">
        <svg viewBox="0 0 1440 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 43.9999C106.667 43.9999 213.333 7.99994 320 7.99994C426.667 7.99994 533.333 43.9999 640 43.9999C746.667 43.9999 853.333 7.99994 960 7.99994C1066.67 7.99994 1173.33 43.9999 1280 43.9999C1386.67 43.9999 1440 19.0266 1440 9.01329V100H0V43.9999Z"
            fill="#45b9bd"></path>
        </svg>
        <img src="/public/img/Recurso-30.png" alt="tira-colores" style="width: 100%; height: auto;">
      </div>
      
    </section>
    <section class="bg-gray-800 body-font" id="unidades-utalca">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col">
          <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
            <h1 class="sm:w-2/5 text-white font-medium title-font text-2xl mb-2 sm:mb-0">Unidades de apoyo estudiantil</h1>
          </div>
        </div>
        
        <div class="flex flex-wrap justify-center gap-6">
          <!-- Card 1 -->
          <div class="card flex flex-col items-center justify-center w-96 h-96 bg-yellow-500 shadow-lg rounded-lg overflow-hidden hover:shadow-2xl transition duration-300 hover:scale-105">
            <img class="my-4 w-3/5" src="/public/img/logo_vcm.png" alt="Logotipo de la Universidad de Talca, Chile">
            <button class="mt-4 mb-8 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">IR</button>
          </div>
        
          <!-- Card 2 -->
          <div class="card flex flex-col items-center justify-center w-96 h-96 bg-sky-500 shadow-lg rounded-lg overflow-hidden hover:shadow-2xl transition duration-300 hover:scale-105">
            <img class="my-4 w-3/5" src="/public/img/logo_innovacion.png" alt="Descripción de la imagen 2">
            <button class="mt-4 mb-8 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">IR</button>
          </div>
        
          <!-- Card 3 -->
          <div class="card flex flex-col items-center justify-center w-96 h-96 bg-red-500 shadow-lg rounded-lg overflow-hidden hover:shadow-2xl transition duration-300 hover:scale-105">
            <img class="my-4 w-3/5" src="/public/img/logo_vde.png" alt="Descripción de la imagen 3">
            <button class="mt-4 mb-8 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">IR</button>
          </div>
        </div>
        
        
        

      </div>
    </section>
    <img src="/public/img/tira-colores.png" alt="tira-colores" style="width: 100%; height: auto;">
  </main>
  <footer>
    <footer>
      <div
        class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
              viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Tailblocks</span>
          </a>
          <p class="mt-2 text-sm text-gray-500">Air plant banjo lyft occupy retro adaptogen indego</p>
        </div>
        <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-400 hover:text-white">First Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Second Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Third Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Fourth Link</a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-400 hover:text-white">First Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Second Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Third Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Fourth Link</a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-400 hover:text-white">First Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Second Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Third Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Fourth Link</a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-400 hover:text-white">First Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Second Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Third Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-white">Fourth Link</a>
              </li>
            </nav>
          </div>
        </div>
      </div>
      <div class="bg-gray-800 bg-opacity-75">
        <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
          <p class="text-gray-400 text-sm text-center sm:text-left">© 2020 Tailblocks —
            <a href="https://twitter.com/knyttneve" class="text-gray-500 ml-1" rel="noopener noreferrer"
              target="_blank">@knyttneve</a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
            <a class="text-gray-400">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-400">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                viewBox="0 0 24 24">
                <path
                  d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                </path>
              </svg>
            </a>
            <a class="ml-3 text-gray-400">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-400">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none"
                  d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </div>
    </footer>
  </footer>
  <script src="/public/js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/splitting@1.0.5/dist/splitting.min.js"></script>
</body>

</html>