<!-- https://themesberg.github.io/simple-bootstrap-5-dashboard/ -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.x.x/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/public/css/panel-admin.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light p-3">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <a class="navbar-brand" href="#">
                Panel Administración
            </a>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                  Hola, administrador
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" id="cerrarSesion" href="#">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid content">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link active" id="linkInicio" aria-current="page" href="#">
                            <i class="bi bi-house-door-fill"></i>
                            <span class="ml-2">Inicio</span>
                          </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="linkUsuarios" href="#">
                                <i class="bi bi-people-fill"></i>
                              <span class="ml-2">Usuarios</span>
                            </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="linkDocumentos" href="#">
                            <i class="bi bi-qr-code"></i>
                            <span class="ml-2">Documentos</span>
                          </a>
                        </li>                        
                      </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <!-- Nav para Inicio -->
                <nav id="navInicio" aria-label="breadcrumb" style="display: none;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Resumen</li>
                    </ol>
                  </nav>
                <!-- Nav para Usuarios -->
                <nav id="navUsuarios" aria-label="breadcrumb" style="display: none;">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
                  </ol>
                  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCrearUsuario">
                    Crear Usuario
                  </button>
                </nav>
                <!-- Nav para Documentos -->
                <nav id="navDocumentos" aria-label="breadcrumb" style="display: none;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Documentos</li>
                    </ol>
                </nav>
                <!-- Tabla para Inicio -->
                <div id="seccionInicio" style="display: none;">
                    <table id="tablaInicio" class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los archivos se cargarán aquí -->
                        </tbody>
                    </table>
                </div>
                <!-- Tabla Usuarios -->
                <div class="table-responsive" id="seccionUsuarios" style="display: none;">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Rut</th>
                                <th>Matricula</th>
                                <th>Nombre</th>
                                <th>Carrera</th>
                                <th>Email</th>
                                <th>Rol</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tablaUsuarios">
                            <!-- Los usuarios se cargarán aquí -->
                        </tbody>
                    </table>
                </div>
                <!-- Modal Crear Usuario -->
                <div class="modal fade" id="modalCrearUsuario" tabindex="-1" aria-labelledby="modalCrearUsuarioLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="modalCrearUsuarioLabel">Crear Nuevo Usuario</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <form id="formCrearUsuario">
                                  <!-- Campos del formulario -->
                                  <div class="mb-3">
                                    <label for="usuarioRut" class="form-label">Rut</label>
                                    <input type="text" class="form-control" id="usuarioRut" required>
                                  </div>
                                  <div class="mb-3">
                                    <label for="usuarioMatricula" class="form-label">Matricula</label>
                                    <input type="text" class="form-control" id="usuarioMatricula" required>
                                  </div>
                                  <div class="mb-3">
                                      <label for="usuarioNombre" class="form-label">Nombre</label>
                                      <input type="text" class="form-control" id="usuarioNombre" required>
                                  </div>
                                  <div class="mb-3">
                                    <label for="usuarioCarrera" class="form-label">Carrera</label>
                                    <input type="text" class="form-control" id="usuarioCarrera" required>
                                  </div>
                                  <div class="mb-3">
                                      <label for="usuarioEmail" class="form-label">Email</label>
                                      <input type="email" class="form-control" id="usuarioEmail" required>
                                  </div>
                                  <div class="mb-3">
                                      <label for="usuarioClave" class="form-label">Contraseña</label>
                                      <input type="password" class="form-control" id="usuarioClave" required>
                                  </div>
                                  <div class="mb-3">
                                      <label for="usuarioRol" class="form-label">Rol</label>
                                      <select class="form-select" id="usuarioRol" required>
                                          <option value="administrador">Administrador</option>
                                          <option value="usuario">Usuario</option>
                                      </select>
                                  </div>
                                  <!-- Botón para enviar el formulario -->
                                  <button type="submit" class="btn btn-primary">Crear</button>
                              </form>
                          </div>
                      </div>
                  </div>
                </div>
                <!-- Modal Edición de Usuario -->
                <div class="modal fade" id="modalEditarUsuario" tabindex="-1" aria-labelledby="modalEditarUsuarioLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="modalEditarUsuarioLabel">Editar Usuario</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <form id="formEditarUsuario">
                                  <input type="hidden" id="editarUsuarioId">
                                  <div class="mb-3">
                                    <label for="editUserRut" class="form-label">Rut</label>
                                    <input type="text" class="form-control" id="editUserRut" required>
                                  </div>
                                  <div class="mb-3">
                                    <label for="editUserMatricula" class="form-label">Matricula</label>
                                    <input type="text" class="form-control" id="editUserMatricula" required>
                                  </div>
                                  <div class="mb-3">
                                      <label for="editUserNombre" class="form-label">Nombre</label>
                                      <input type="text" class="form-control" id="editUserNombre" required>
                                  </div>
                                  <div class="mb-3">
                                    <label for="editUsuarioCarrera" class="form-label">Carrera</label>
                                    <input type="text" class="form-control" id="editUsuarioCarrera" required>
                                  </div>
                                  <div class="mb-3">
                                      <label for="editUsuarioCorreo" class="form-label">Email</label>
                                      <input type="email" class="form-control" id="editUsuarioCorreo" required>
                                  </div>
                                  <div class="mb-3">
                                      <label for="editUsuarioClave" class="form-label">Contraseña</label>
                                      <input type="password" class="form-control" id="editUsuarioClave" required>
                                  </div>
                                  <div class="mb-3">
                                      <label for="editUsuarioRol" class="form-label">Rol</label>
                                      <select class="form-select" id="editUsuarioRol" required>
                                          <option value="administrador">Administrador</option>
                                          <option value="usuario">Usuario</option>
                                      </select>
                                  </div>
                                  <button type="submit" class="btn btn-primary">Actualizar</button>
                              </form>
                          </div>
                      </div>
                  </div>
                </div>
                <!-- Formulario para subir archivos -->
                <div id="uploadFormContainer" style="display: none;">
                    <form id="uploadForm" enctype="multipart/form-data" class="p-3">
                        <!-- Campo para subir archivo -->
                        <div class="mb-3">
                            <label for="archivo" class="form-label">Seleccione un archivo</label>
                            <input type="file" class="form-control" name="archivo" id="archivo" required>
                        </div>
                
                        <!-- Campo para ingresar RUT del usuario -->
                        <div class="mb-3">
                            <label for="rutUsuario" class="form-label">Ingrese RUT del usuario</label>
                            <input type="text" class="form-control" id="rutUsuario" placeholder="Ingrese RUT del usuario" required>
                        </div>
                
                        <!-- Botón para buscar usuario -->
                        <div class="mb-3">
                            <button type="button" id="buscarUsuarioBtn" class="btn btn-primary">Buscar Usuario</button>
                        </div>
                
                        <div class="mb-3" style="display: none;" id="usuarioSelectContainer">
                            <label for="selectUsuario" class="form-label">Seleccione un usuario</label>
                            <select name="usuarioId" id="selectUsuario" class="form-select" required>
                                <!-- Las opciones de usuario se cargarán aquí -->
                            </select>
                        </div>
                
                        <!-- Botón para subir archivo -->
                        <div class="mb-3">
                            <button type="submit" id="submitArchivoBtn" class="btn btn-success">Subir Archivo</button>
                        </div>
                    </form>
                </div>
                
                <!-- Tabla para mostrar los archivos -->
                <div id="seccionDocumentos" style="display: none;">
                    <table id="tablaArchivos" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre del Archivo</th>
                                <th>Nombre usuario</th>
                                <th>Rut usuario</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los archivos se cargarán aquí -->
                        </tbody>
                    </table>
                </div>
                                
            </main>
            <footer class="pt-5 d-flex justify-content-between">
                <span>Copyright © 2023</span>
                <ul class="nav m-0">
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="https://www.utalca.cl/" target="_blank">UTALCA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="https://rutaie.utalca.cl/" target="_blank">RUTAIE</a>
                    </li>
                </ul>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="/js/panel-admin.js"></script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.x.x/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>