/* COLORES RUTAIE

#e74528 (rojo)
#279b98 (verde oscuro)
#45b9bd (celeste)
#f59f19 (amarillo)
*/

@import url(https://fonts.googleapis.com/css?family=Righteous);
*{
    font-family: 'Righteous', serif;
}


.custom-hover-underline {
    position: relative;
  }

  .custom-hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #60a5fa; 
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .custom-hover-underline:hover::after {
    transform: scaleX(1);
  }

footer {
    background-color: #3498DB; 
}


